.occupations {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__expressive {
    &--title {
      margin-top: 1rem;
    }

    &--answers {
      .button {
        margin: 0.7rem 0;
      }
      width: 100%;
    }

    &--description {
      margin-bottom: 1.5rem;
    }
  }

  &__receptive {
    &--title {
      margin-top: 1rem;
      .title:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &--job-name {
      margin-top: 0;
      font-size: 4rem;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 4rem;
    }

    &--options {
      .button {
        margin: 0.7rem 0;
      }
      width: 100%;
    }

    &--description {
      margin-bottom: 1.5rem;
    }

    &--button.button {
      width: calc(50% - 1rem);
      margin: 0.5rem;
      height: auto;
    }
  }
}
