@import 'assets/scss/theme.scss';

.associate {
  display: flex;
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.left {
  float: left;
  width: 50%;
}
.right {
  float: right;
  width: 50%;
}
img {
  max-width: 100%;
  height: auto;
}
.group:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (max-width: 480px) {
  .left,
  .right {
    float: none;
    width: auto;
  }
}
