@import 'assets/scss/theme.scss';

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $app-theme-color;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  &__icon {
    margin: 8px 8px 8px 32px;
    width: 60px;
  }

  &__open {
    width: 250px;
  }

  &__close {
    width: 0px;
  }

  &__divider {
    border: solid 0.5px $app-theme-dark-color;
    margin: 8px 8px 8px 32px;
  }

  &__logout {
    background-color: transparent;
    border-color: transparent;
    color: white;
    padding: 8px 8px 8px 32px;
    justify-content: flex-start;
  }
  &__logout:hover {
    border-color: transparent;
    color: $app-theme-dark-color;
    background-color: rgba(0, 0, 0, 0.1);
  }

  a {
    padding: 8px 8px 8px 32px;
    color: white;
    display: block;
  }

  a:hover {
    color: $app-theme-dark-color;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    &--display {
      display: none;
    }
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 50px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
