@import 'assets/scss/theme.scss';

.main {
  &__tab {
    &--background-one {
      background: url('../../assets/images/Page1_Background.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &--background-two {
      background: url('../../assets/images/Page2_Background.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &--background-three {
      background: url('../../assets/images/Page3_Background.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &--img {
      display: block;
      margin: auto;
    }

    &--title {
      padding-top: 50px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 40px;
      color: green;
      font-weight: bold;
    }

    &--subtitle {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 30px;
    }
  }

  &__box {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 500px;

    &--header {
      margin-bottom: 50px;
    }

    &--wrapper {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 50px;
    }
  }
}
